#Blacklist all
/*

#Whitelist some directories
!oscar/
!oscar_env/
oscar/__pycache__/
oscar/*/__pycache__/
oscar_env/__pycache__/
oscar_env/*/__pycache__/

#Whitelist some extensions
!*.py

#Whitelist some files
!LICENSE
!README.md
!.gitignore
!mineralshard.knn
