#Blacklist all
/*

#Whitelist some directories
!oscar/
!config/
!learning_tools/

#Whitelist some extensions
!*.py
!*.json

#Blacklist again some extensions
*.pyc
*.knn

#Whitelist some files
!LICENSE
!README.md
!.gitignore
